@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

$baseColor: #fffdf7;
$secondColor: #0a2342;
$thirdColor: #f46197;
$fourthColor: #2ca58d;
$fifthColor: #84bc9c;

body {
  background: $baseColor;
  min-height: 100vh;
  font-family: "Varela Round", sans-serif;
  // background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  color: $secondColor;
}

.navRoot {
  z-index: 100;
  background: rgba($color: white, $alpha: 1);
  padding: 0.3em;

  .navbar-brand {
    color: $secondColor;
    font-weight: 700;
  }

  .navbar-brand:hover {
    color: $thirdColor;
  }

  .navbar-nav {
    color: $secondColor;

    .nav {
      color: $secondColor;
    }
    .nav:hover {
      color: $thirdColor;
    }
  }
}

.homeRoot {
  .homepage {
    background: $secondColor;
    border-radius: 2em;
    padding-right: 1em;

    .title {
      padding-top: 1em;

      h1 {
        font-weight: 900;
        text-transform: uppercase;
        color: $baseColor;
      }

      h1:hover {
        color: $thirdColor;
      }
    }

    .content {
      color: $baseColor;
    }
  }

  .sideBar {
    margin-left: 1em;
    padding-left: 1.5em;
    border-radius: 2em;
    background: rgba($color: $secondColor, $alpha: 1);
    .title {
      padding-top: 1em;

      h3 {
        color: $baseColor;
        font-weight: 700;
      }
    }

    .content {
      margin-top: 1em;
      color: $baseColor;

      img {
        float: left;
      }

      .p {
        padding-left: 1em;
      }

      .link {
        color: $thirdColor;
      }
    }
  }
}
.carousel {
  margin-bottom: 1em;
  min-height: 70vh;
}

.second {
  background: $secondColor;
  color: $baseColor;
  border-radius: 2em;
  margin-top: 1em;
  margin-bottom: 5em;

  .title {
    h1 {
      margin-left: 1em;
      margin-top: 1em;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  img {
    border-radius: 1em;
  }

  .thumb {
    margin-bottom: 30px;
  }
}

.aboutRoot {
  .title {
    background: $secondColor;
    border-radius: 2em;
    padding-top: 1em;
    h1 {
      padding: 0.1em;
      color: $baseColor;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .content {
    padding-top: 1em;

    .jumbotron {
      background: $secondColor;
      border: 2px solid $baseColor;
      color: $secondColor;
      border-radius: 2em;
      text-align: center;

      img {
        border: 3px solid $baseColor;
      }

      .name {
        padding-top: 1em;
        color: $baseColor;
      }

      .job {
        color: $baseColor;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $baseColor;
  background: $secondColor;
  border-radius: 2em 2em 0 0;
  padding: 1px;
  text-align: center;

  p {
    margin-top: 1em;
  }
}

@media (max-width: 720px) {
  .homepage {
    border-right: 0 solid $fourthColor;
    .title {
      h1 {
        font-size: 2em;
        text-align: center;
      }
    }

    .content {
      text-align: justify;
    }
  }

  .sideBar {
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 5em;

    .content {
      .p {
        padding-left: 1em;
      }
    }
  }

  .footer {
    margin-top: 5em;
  }
}
