@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background: #fffdf7;
  min-height: 100vh;
  font-family: "Varela Round", sans-serif;
  color: #0a2342;
}

.navRoot {
  z-index: 100;
  background: white;
  padding: 0.3em;
}

.navRoot .navbar-brand {
  color: #0a2342;
  font-weight: 700;
}

.navRoot .navbar-brand:hover {
  color: #f46197;
}

.navRoot .navbar-nav {
  color: #0a2342;
}

.navRoot .navbar-nav .nav {
  color: #0a2342;
}

.navRoot .navbar-nav .nav:hover {
  color: #f46197;
}

.homeRoot .homepage {
  background: #0a2342;
  border-radius: 2em;
  padding-right: 1em;
}

.homeRoot .homepage .title {
  padding-top: 1em;
}

.homeRoot .homepage .title h1 {
  font-weight: 900;
  text-transform: uppercase;
  color: #fffdf7;
}

.homeRoot .homepage .title h1:hover {
  color: #f46197;
}

.homeRoot .homepage .content {
  color: #fffdf7;
}

.homeRoot .sideBar {
  margin-left: 1em;
  padding-left: 1.5em;
  border-radius: 2em;
  background: #0a2342;
}

.homeRoot .sideBar .title {
  padding-top: 1em;
}

.homeRoot .sideBar .title h3 {
  color: #fffdf7;
  font-weight: 700;
}

.homeRoot .sideBar .content {
  margin-top: 1em;
  color: #fffdf7;
}

.homeRoot .sideBar .content img {
  float: left;
}

.homeRoot .sideBar .content .p {
  padding-left: 1em;
}

.homeRoot .sideBar .content .link {
  color: #f46197;
}

.carousel {
  margin-bottom: 1em;
  min-height: 70vh;
}

.second {
  background: #0a2342;
  color: #fffdf7;
  border-radius: 2em;
  margin-top: 1em;
  margin-bottom: 5em;
}

.second .title h1 {
  margin-left: 1em;
  margin-top: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

.second img {
  border-radius: 1em;
}

.second .thumb {
  margin-bottom: 30px;
}

.aboutRoot .title {
  background: #0a2342;
  border-radius: 2em;
  padding-top: 1em;
}

.aboutRoot .title h1 {
  padding: 0.1em;
  color: #fffdf7;
  font-weight: 900;
  text-transform: uppercase;
}

.aboutRoot .content {
  padding-top: 1em;
}

.aboutRoot .content .jumbotron {
  background: #0a2342;
  border: 2px solid #fffdf7;
  color: #0a2342;
  border-radius: 2em;
  text-align: center;
}

.aboutRoot .content .jumbotron img {
  border: 3px solid #fffdf7;
}

.aboutRoot .content .jumbotron .name {
  padding-top: 1em;
  color: #fffdf7;
}

.aboutRoot .content .jumbotron .job {
  color: #fffdf7;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffdf7;
  background: #0a2342;
  border-radius: 2em 2em 0 0;
  padding: 1px;
  text-align: center;
}

.footer p {
  margin-top: 1em;
}

@media (max-width: 720px) {
  .homepage {
    border-right: 0 solid #2ca58d;
  }
  .homepage .title h1 {
    font-size: 2em;
    text-align: center;
  }
  .homepage .content {
    text-align: justify;
  }
  .sideBar {
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 5em;
  }
  .sideBar .content .p {
    padding-left: 1em;
  }
  .footer {
    margin-top: 5em;
  }
}
/*# sourceMappingURL=main.css.map */